::-webkit-scrollbar {
    display: none;
}

.bg-cleardark {
    background-color: black;
}

.bg-custom {
    background-color: #2e2e2e;
    box-shadow: 5px white;
}

.visina {
    height: 250px;
}

.navs {
    font-size: 1.25rem;
    color: black;
}

.navs:active {
    color:black;
}

.navs:visited {
    color:black;
}

.navs:hover{
    color: rgb(237, 161, 47);
}

.offcanvas-start, .offcanvas-end, .offcanvas-bottom {
    width: 100%;
    height: 100%;
}

.reveal {
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: all 1s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}

.naslovAnimacija {
    position: relative;
    opacity: 0;
    animation: tekst1 3s linear;
    animation-fill-mode: forwards;
}

@keyframes tekst1 {
    0% { top: -50px;}
    100% { top :0px; opacity: 1;}
}

.podAnimacija {
    opacity: 0;
    animation: tekst2 3s linear;
    animation-fill-mode: forwards;
}

@keyframes tekst2 {
    0% { top: 50px;}
    100% { top :0px; opacity: 1;}
}
